@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
  max-width: 1840px;
  margin: 0 auto;
} */

.input-id{
  outline: none;
  border: none;
}
.verification-input:focus {
  background-color: #ffffff; 
  border: 1px solid gray;
  /* outline: 1px solid red; */
}
/* In your CSS file */
.shadow-custom {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */
}

input{
  outline: none;
}
.testing{
  max-width: 2000px;
  margin: 0 auto;
}
.drawer-transition {
  
  transition: left 0.3s ease-in-out;
}
